:root {
    --pcb-edge-color: black;
    --pad-color: #878787;
    --pad-hole-color: #CCCCCC;
    --pad-color-highlight: #D04040;
    --pad-color-highlight-weak: rgba(208, 64, 64, 0.5);
    --pin1-outline-color: #ffb629;
    --pin1-outline-color-highlight: #b4ff03;
    --silkscreen-edge-color: #aa4;
    --silkscreen-polygon-color: #4aa;
    --silkscreen-text-color: #4aa;
    --fabrication-edge-color: #907651;
    --fabrication-polygon-color: #907651;
    --fabrication-text-color: #a27c24;
    --track-color: #def5f1;
    --track-color-highlight: #D04040;
    --zone-color: #def5f1;
    --zone-color-highlight: #d0404080;
    --schematic-highlight-fill-color: rgba(0, 123, 255, 0.25);
    --schematic-highlight-line-color: rgba(0, 123, 255, 1);
    --schematic-highlight-fill-color-weak: rgba(0, 123, 255, 0.1);
    --schematic-highlight-line-color-weak: rgba(0, 123, 255, 0.5);
    --schematic-highlight-line-width: 12;
    --pcb-crosshair-line-color: rgba(208, 64, 64, 0.3);
    --pcb-crosshair-line-width: 4;
    --schematic-crosshair-line-color: rgba(0, 123, 255, 0.3);
    --schematic-crosshair-line-width: 4;
}

html, body {
    margin: 0px;
    height: 100%;
    font-family: Verdana, sans-serif;
}

.dark.topmostdiv {
    --pcb-edge-color: #eee;
    --pad-color: #808080;
    --pin1-outline-color: #ffa800;
    --pin1-outline-color-highlight: #ccff00;
    --track-color: #42524f;
    --zone-color: #42524f;
    background-color: #252c30;
    color: #eee;
}

#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}

#menubar h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 20pt;
    width: max-content;
}

#menubar #menubar-right {
    display: flex;
    align-items: center;
}

#menubar #menubar-right>div {
    margin: 10px;
}

#menubar #tools {
    display: flex;
}

.button.tool-button {
    margin: 0 4px;
    padding: 4px;
    border-radius: 8px;
    box-sizing: border-box;
    /* width: 70px; */
}

#menubar #search, #menubar #settings {
    position: relative;
}

#menubar #settings-btn {
    background-color: white;
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 20 20'%3E%3Cpath fill='none' d='M0 0h20v20H0V0z'/%3E%3Cpath d='M15.95 10.78c.03-.25.05-.51.05-.78s-.02-.53-.06-.78l1.69-1.32c.15-.12.19-.34.1-.51l-1.6-2.77c-.1-.18-.31-.24-.49-.18l-1.99.8c-.42-.32-.86-.58-1.35-.78L12 2.34c-.03-.2-.2-.34-.4-.34H8.4c-.2 0-.36.14-.39.34l-.3 2.12c-.49.2-.94.47-1.35.78l-1.99-.8c-.18-.07-.39 0-.49.18l-1.6 2.77c-.1.18-.06.39.1.51l1.69 1.32c-.04.25-.07.52-.07.78s.02.53.06.78L2.37 12.1c-.15.12-.19.34-.1.51l1.6 2.77c.1.18.31.24.49.18l1.99-.8c.42.32.86.58 1.35.78l.3 2.12c.04.2.2.34.4.34h3.2c.2 0 .37-.14.39-.34l.3-2.12c.49-.2.94-.47 1.35-.78l1.99.8c.18.07.39 0 .49-.18l1.6-2.77c.1-.18.06-.39-.1-.51l-1.67-1.32zM10 13c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3z'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    width: 44px;
    height: 44px;
    text-align: center;
}

#menubar .menu-content {
    font-size: 12pt;
    text-align: left;
    font-weight: normal;
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 8px;
    text-align: center;
    max-height: 85vh;
    overflow-y: scroll;
}

#menubar #settings:hover #settings-btn {
    background-color: #eee;
}

#menubar #settings:hover #settings-content {
    display: block;
}

#menubar .settings-label {
    display: block;
    padding: 8px;
}

#menubar .settings-item {
    display: inline-block;
    padding: 6px;
    border: 1px solid #eee;
    /* border-top: 0; */
    margin-bottom: 2px;
}

.button {
    cursor: pointer;
    user-select: none;
    padding: 2px;
    border: 2px solid #eee;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #eee;
}

.button.ready, button.tool-button.ready {
    border-color: #007bff;
}

.button.disabled {
    color: #ccc;
    background-color: #eee;
    cursor: not-allowed;
}

.button.ready.disabled {
    color: unset;
    background-color: unset;
    cursor: default;
}

.button.ready.disabled:hover {
    background-color: unset;
}

.button.x-button {
    font-size: 12pt;
    padding: 1px 4px;
    border: none;
}

#menubar .slider-item {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 10pt;
}

#menubar .slider-item>span {
    float: left;
    font-size: 12pt;
}

#menubar .slider-item>input[type=range] {
    width: 100%;
}

#menubar .slider-item>input[type=text] {
    width: 30px;
    text-align: right;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

#search-field {
    display: flex;
    align-items: center;
}

#menubar #search-input {
    font-size: 12pt;
    width: 300px;
    /* arbitrary */
}

#search-field .button {
    position: absolute;
    right: 2px;
}

.search-content {
    position: absolute;
    background: white;
    z-index: 10;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 10pt;
}
.search-content>div {
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
}

#search-content.search-content {
    z-index: 100;
    left: 0;
    width: 100%;
    max-height: 90vh;
}

#search-nav {
    display: flex;
    align-items: center;
    font-size: 10pt;
    margin-top: 2px;
}

#menubar #search-nav span {
    padding: 0 4px;
}

#menubar #search-nav-text {
    flex-grow: 1;
}

#menubar #search-nav span.button {
    font-size: 12pt;
    padding: 1px 4px;
    border: none;
}

#display {
    height: calc(100vh - 80px);
    width: 100vw;
}

div.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

div.canvas-container>canvas {
    position: absolute;
    left: 0;
    top: 0;
}

#layout-div>div {
    width: 100%;
}

#schematic-div {
    position: relative;
}

#schematic-canvas {
    height: 100%;
    position: relative;
    z-index: 0;
}

.hidden {
    display: none !important;
}

#sch-multi-click, #sch-selection {
    position: absolute;
    z-index: 50;
    border: 2px solid #007bff;
    border-radius: 4px;
    background: white;
    width: max-content;
}

#sch-multi-click div, #sch-selection div {
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
}

#sch-selection {
    bottom: 5px;
    left: 5px;
    max-height: 85vh;
    overflow-y: scroll;
    border-color: #eee;
}

#sch-selection div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sch-selection div.current {
    border-color: #007bff;
    border-width: 2px;
}

#sch-selection div span {
    display: none;
}

#sch-selection div.has-selection span {
    display: initial;
    margin-left: 4px;
}

#sch-selection div.current.has-selection span {
    color: #007bff;
}

#tool-popup {
    position: absolute;
    border: 2px solid #eee;
    border-radius: 8px;
    background-color: white;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 20px;
}

#tool-popup>span {
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
    user-select: none;
}

#tool-popup #tool-popup-title {
    margin-bottom: 10px;
    font-size: 14pt;
}

#tool-popup #tool-popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar>div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 10pt;
    background: white;
    position: relative;
    z-index: 50;
    height: 100%;
    box-sizing: border-box;
}

#sidebar-title {
    display: flex;
    align-items: center;
}

#sidebar h2 {
    /* margin-left: 5px; */
    margin: 0;
    flex-grow: 1;
}

#sidebar-help {
    font-weight: bold;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    width: 28px;
    box-sizing: border-box;
    height: 28px;
    text-align: center;
    user-select: none;
}

#sidebar-help-content {
    display: none;
    font-weight: initial;
    text-align: left;
    position: absolute;
    right: 10px;
    top: 40px;
    background: white;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 5px;
}

#sidebar-title .button {
    margin-left: 5px;
}

#record-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 40px;
    transition: border-radius 1.5s ease 0s;
    background-color: red;
}
#record-button.on {
    border-radius: 3px;
}
#record-button:hover {
    filter: brightness(.8);
}

#sidebar-help:first-child {
    text-align: center;
}

#sidebar-help:hover {
    background: #eee;
}

#sidebar-help:hover #sidebar-help-content {
    display: initial;
}

#sidebar-name {
    display: flex;
    align-items: center;
}

#sidebar-name>input {
    width: 1px;
    /* this width is overridden by flex-grow, but necessary for it to work */
    flex-grow: 1;
}

#sidebar-notes {
    display: flex;
    flex-direction: column;
}

#sidebar-notes>textarea {
    margin-top: 4px;
}

#sidebar-cards {
    height: 1px;
    /* this height is overridden by flex-grow, but necessary for it to work */
    flex-grow: 1;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
}

.sidebar-card {
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 6px;
    margin-bottom: 4px;
}

.sidebar-card:last-child {
    /* margin-bottom: 0; */
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    flex-wrap: wrap;
    position: relative;
}

.card-row:last-child, .card-row>.card-row {
    margin-bottom: 0;
}

.card-row .sidebar-card-search {
    min-width: 30px;
    flex-grow: 1;
    margin-left: 4px;
}

.card-row .sidebar-card-bound {
    width: 36px;
    text-align: right;
}

.card-row .button {
    margin-left: 2px;
}

.card-row .sidebar-result {
    font-size: 12pt;
    font-weight: bold;
}

.card-row .bound {
    padding: 2px;
    border: 1px solid white;
    border-radius: 4px;
}

.card-row .bound.good {
    border-color: green;
}

.card-row .bound.bad {
    border-color: red;
}

#sidebar-custom-dmm {
    order: 1;
}

.card-row .search-content {
    top: 21px;
    left: 9px;
    width: calc(100% - 9px);
    max-height: 200px;
}

.card-row .search-content>div {
    font-size: 9pt;
}

#sidebar-add-button {
    margin: 0 2px;
}

#sidebar-buttons {
    display: flex;
}

#sidebar-buttons>div {
    flex-grow: 1;
    text-align: center;
    margin: 2px;
}

#sidebar>div>div {
    padding: 5px;
}

#projector #layout-div {
    height: 100vh;
}

#projector #layout-div>div {
    height: 100%;
}

/* split.js */

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: row-resize;
}