<!doctype html>
<html>

<head>
    <title>AR Debug Workbench Index</title>
    <link rel="stylesheet" type="text/css" href="{{css}}">
    <link rel="shortcut icon" type="image/png" href="{{icon}}">
</head>

<body>
    <div>
        Just links to the other pages
    </div>
    <div>
        <a href="{{main}}">Main Page</a>
        <br />
        <a href="{{proj}}">Projector Page</a>
        <br />
        <a href="{{tool}}">Tool Debug Page</a>
    </div>
    <script src="{{js}}"></script>
</body>

</html>