<!doctype html>
<html>

<head>
    <title>AR Debug Workbench</title>
    <link rel="stylesheet" type="text/css" href="{{css}}">
    <link rel="shortcut icon" type="image/png" href="{{icon}}">
</head>

<body>
    <div id="topmostdiv" class="topmostdiv">
        <div id="menubar">
            <div id="menubar-left">
                <h1 id="projtitle"></h1>
            </div>
            <div id="menubar-right">
                <div id="search">
                    <div id="search-field">
                        <input type="text" id="search-input" placeholder="Search..." onkeyup="searchBarHandler()"/>
                        <span onclick="searchBarX()">X</span>
                    </div>
                    <div id="search-content" class="hidden"></div>
                </div>
                <div id="current">
                    <div>Current selection:</div>
                    <div id="current-field">None</div>
                </div>
                <div id="settings">
                    <div id="settings-btn"></div>
                    <div id="settings-content" class="menu-content">
                        <div class="settings-label">Render Options</div>
                        <div class="settings-item">
                            Fab
                            <input type="checkbox" name="settings-render" value="renderFabrication" />
                        </div>
                        <div class="settings-item">
                            Silkscreen
                            <input type="checkbox" name="settings-render" value="renderSilkscreen" checked />
                        </div>
                        <div class="settings-item">
                            Tracks
                            <input type="checkbox" name="settings-render" value="renderTracks"/>
                        </div>
                        <div class="settings-item">
                            Zones
                            <input type="checkbox" name="settings-render" value="renderZones" />
                        </div>
                        <div class="settings-item">
                            <span style="float:left">Layout Rotation</span>
                            <span id="settings-rotation-label" style="float:right">0&deg;</span>
                            <input type="range" id="settings-rotation" value="0" min="-36" max="36" />
                        </div>
                        <div class="settings-label">Find Selection Options</div>
                        <div class="settings-item">
                            Press 'F'
                            <label class="toggle">
                                <input type="checkbox" id="settings-find-toggle">
                                <span class="slider"></span>
                            </label>
                            Auto
                        </div>
                        <div class="settings-item">
                            <input type="radio" name="settings-find" value="zoom" checked>
                            <label for="settings-find-zoom">Zoom</label>
                            <input type="radio" name="settings-find" value="xhair">
                            <label for="settings-find-xhair">Crosshair</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="display" class="split">
            <div id="sch-multi-click" class="hidden"></div>
            <div id="schematic-div">
                <div id="schematic-canvas">
                    <div class="canvas-container">
                        <canvas id="sch_bg" style="z-index: 0"></canvas>
                        <canvas id="sch_hl" style="z-index: 1"></canvas>
                    </div>
                </div>
                <div id="sch-selection">
                    <div class="label">Current Schematic:</div>
                </div>
            </div>
            <div id="layout-div">
                <div id="front-canvas" touch-action="none">
                    <div class="canvas-container">
                        <canvas id="F_bg" style="z-index: 10"></canvas>
                        <canvas id="F_fab" style="z-index: 11"></canvas>
                        <canvas id="F_slk" style="z-index: 12"></canvas>
                        <canvas id="F_hl" style="z-index: 13"></canvas>
                    </div>
                </div>
                <div id="back-canvas" touch-action="none">
                    <div class="canvas-container">
                        <canvas id="B_bg" style="z-index: 10"></canvas>
                        <canvas id="B_fab" style="z-index: 11"></canvas>
                        <canvas id="B_slk" style="z-index: 12"></canvas>
                        <canvas id="B_hl" style="z-index: 13"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{splitjs}}"></script>
    <script src="{{renderjs}}"></script>
    <script src="{{mainjs}}"></script>
</body>

</html>