<!doctype html>
<html>

<head>
    <title>AR Debug Workbench</title>
    <link rel="stylesheet" type="text/css" href="{{css}}">
    <link rel="shortcut icon" type="image/png" href="{{icon}}">
</head>

<body>
    <div id="topmostdiv" class="topmostdiv">
        <div id="menubar">
            <div id="menubar-left">
                <h1 id="projtitle"></h1>
            </div>
            <div id="menubar-right">
                <div id="tools"></div>
                <div id="search">
                    <div id="search-field">
                        <input type="text" id="search-input" placeholder="Search..." onkeyup="searchBarHandler()" />
                        <span onclick="searchBarX()">X</span>
                    </div>
                    <div id="search-content" class="hidden"></div>
                    <div id="search-nav">
                        <span id="search-nav-num">0 of 0</span>
                        <span id="search-nav-text">
                            <!-- spacer -->
                        </span>
                        <span class="button" onclick="searchNav('L')">&#x276e;</span>
                        <span class="button" onclick="searchNav('R')">&#x276f;</span>
                    </div>
                </div>
                <div id="settings">
                    <div id="settings-btn"></div>
                    <div id="settings-content" class="menu-content">
                        <div class="settings-label">Display Options</div>
                        <div class="settings-item">
                            Schematic
                            <input type="checkbox" name="settings-display" value="S" checked />
                        </div>
                        <div class="settings-item">
                            Layout
                            <input type="checkbox" name="settings-display" value="L" checked />
                            <br />
                            F
                            <input type="checkbox" name="settings-display" value="LF" checked />
                            B
                            <input type="checkbox" name="settings-display" value="LB" checked />
                        </div>
                        <div class="settings-label">Layout Options</div>
                        <div class="settings-item">
                            Fab Layer
                            <input type="checkbox" name="settings-render" value="renderFabrication" />
                        </div>
                        <div class="settings-item">
                            Silkscreen
                            <input type="checkbox" name="settings-render" value="renderSilkscreen" checked />
                        </div>
                        <div class="settings-item">
                            References
                            <input type="checkbox" name="settings-render" value="renderReferences" checked />
                        </div>
                        <div class="settings-item">
                            Values
                            <input type="checkbox" name="settings-render" value="renderValues" checked />
                        </div>
                        <div class="settings-item">
                            Tracks
                            <input type="checkbox" name="settings-render" value="renderTracks" />
                        </div>
                        <div class="settings-item">
                            Zones
                            <input type="checkbox" name="settings-render" value="renderZones" />
                        </div>
                        <div class="settings-item slider-item">
                            <span>Board Rotation</span>
                            <input type="text" id="settings-rotation-label" value="0"/>&deg;
                            <br />
                            <input type="range" id="settings-rotation" value="0" min="-36" max="36" />
                        </div>
                        <div class="settings-label">Find Selection Options</div>
                        <div class="settings-item">
                            Press 'F'
                            <label class="toggle">
                                <input type="checkbox" id="settings-find-toggle">
                                <span class="slider"></span>
                            </label>
                            Auto
                        </div>
                        <div class="settings-item">
                            <input type="radio" name="settings-find" value="zoom" checked>
                            <label for="settings-find-zoom">Zoom</label>
                            <input type="radio" name="settings-find" value="xhair">
                            <label for="settings-find-xhair">Crosshair</label>
                        </div>
                        <div class="settings-label">Projector</div>
                        <div class="settings-item">
                            Calibrate
                            <label class="toggle">
                                <input type="checkbox" id="settings-projector-calibrate">
                                <span class="slider"></span>
                            </label>
                        </div>
                        <div class="settings-item button" id="settings-projector-reset">
                            Reset All
                        </div>
                        <div class="settings-item slider-item">
                            <span>Translate X</span>
                            <input type="text" id="settings-projector-tx-label" value="0" />mm
                            <br />
                            <input type="range" id="settings-projector-tx" value="0" min="-200" max="200" />
                        </div>
                        <div class="settings-item slider-item">
                            <span>Translate Y</span>
                            <input type="text" id="settings-projector-ty-label" value="0" />mm
                            <br />
                            <input type="range" id="settings-projector-ty" value="0" min="-200" max="200" />
                        </div>
                        <div class="settings-item slider-item">
                            <span>Rotation</span>
                            <input type="text" id="settings-projector-rotation-label" value="0" />&deg;
                            <br />
                            <input type="range" id="settings-projector-rotation" value="0" min="-180" max="180" />
                        </div>
                        <div class="settings-item slider-item">
                            <span>Scale</span>
                            <input type="text" id="settings-projector-zoom-label" value="100">%
                            <br />
                            <input type="range" id="settings-projector-zoom" value="100" min="10" max="1000" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main" class="split">
            <div id="display" class="split">
                <div id="sch-multi-click" class="hidden"></div>
                <div id="schematic-div">
                    <div id="schematic-canvas">
                        <div class="canvas-container">
                            <canvas id="sch_bg" style="z-index: 0"></canvas>
                            <canvas id="sch_hl" style="z-index: 1"></canvas>
                        </div>
                    </div>
                    <div id="sch-selection">
                        <div class="label">Schematic Sheets</div>
                    </div>
                </div>
                <div id="layout-div">
                    <div id="front-canvas" touch-action="none">
                        <div class="canvas-container">
                            <canvas id="F_bg" style="z-index: 10"></canvas>
                            <canvas id="F_fab" style="z-index: 11"></canvas>
                            <canvas id="F_slk" style="z-index: 12"></canvas>
                            <canvas id="F_hl" style="z-index: 13"></canvas>
                        </div>
                    </div>
                    <div id="back-canvas" touch-action="none">
                        <div class="canvas-container">
                            <canvas id="B_bg" style="z-index: 10"></canvas>
                            <canvas id="B_fab" style="z-index: 11"></canvas>
                            <canvas id="B_slk" style="z-index: 12"></canvas>
                            <canvas id="B_hl" style="z-index: 13"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar">
                <div id="sidebar-dmm">
                    <h2>Multimeter</h2>
                </div>
                <div id="sidebar-osc" class="hidden">
                    <h2>Oscilloscope</h2>
                </div>
            </div>
        </div>
    </div>
    <script src="{{socketiojs}}"></script>
    <script src="{{splitjs}}"></script>
    <script src="{{utiljs}}"></script>
    <script src="{{renderjs}}"></script>
    <script src="{{selectionjs}}"></script>
    <script src="{{mainjs}}"></script>
</body>

</html>