<!doctype html>
<html>

<head>
    <title>AR Debug Workbench Study Control Panel</title>
    <link rel="stylesheet" type="text/css" href="{{css}}">
    <link rel="shortcut icon" type="image/png" href="{{icon}}">
</head>

<body style="padding:20px;">
    <h2>Study Control Panel</h2>

    <h4>Task</h4>
    <div class="study-buttons">
        <div id="task-off" class="button selected">Off</div>
        <div id="task-1a" class="button">Task 1A</div>
        <div id="task-1b" class="button">Task 1B</div>
        <div id="task-2" class="button">Task 2</div>
    </div>

    <h4>Step</h4>
    <div class="study-buttons">

    </div>
    <script src="{{socketiojs}}"></script>
    <script src="{{js}}"></script>
</body>

</html>