<!doctype html>
<html>

<head>
    <title>Tool Debug Page</title>
</head>

<body>
    <div>
        Click links to send server tool events
    </div>
    <div>
        <a id="ptr-conn" href="#">Pointer connected</a>
        <br />
        <a id="ptr-select" href="#">Pointer selection at</a>
        <br />
        <a id="dmm-conn" href="#">DMM connected</a>
        <br />
        <a id="dmm-red-conn" href="#">DMM red conn</a>
        <br />
        <a id="dmm-black-conn" href="#">DMM black conn</a>
        <br />
        <a id="dmm-measure" href="#">DMM measurement</a>
    </div>
    <script src="{{socketiojs}}"></script>
    <script src="{{js}}"></script>
</body>

</html>