altgraph==0.17
bidict==0.21.2
click==8.0.1
dnspython==1.16.0
eventlet==0.31.1
Flask==2.0.1
Flask-SocketIO==5.1.0
greenlet==1.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
macholib==1.14
MarkupSafe==2.0.1
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
python-engineio==4.2.0
python-socketio==5.3.0
six==1.16.0
Werkzeug==2.0.1
