<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=voltage_mode><button class='btn btn-default'>Voltage</button></a>
            <a href=# id=resistance_mode><button class='btn btn-default'>Resistance</button></a>
        </form>

        <p id="measurement">Measurement</p>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        var measurement = document.getElementById("measurement")
        setInterval(() => {
            fetch("http://127.0.0.1:8080/queryValue/voltage")
            .then(response => {
                response.text().then(t => {measurement.innerHTML = t})
            });
         }, 300);

<!--        setInterval(() {-->
<!--        $.ajax({-->
<!--        type: "GET"-->
<!--        url: http://127.0.0.1:8080/queryValue/-->
<!--        });-->

        $(function() {
          $('a#voltage_mode').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/queryValue/voltage',
                function(data) {
                //do nothing
            });
            return false;
          });
        });
        $(function() {
          $('a#resistance_mode').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/queryValue/resistance',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



